@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: 'Ubuntu', sans-serif;
}
body{
    background: rgb(223, 232, 255);
}
.icon {
    height: 10px;
    width: auto;
    margin-bottom: 10px;
}
.new-wish{
    box-shadow: 0px 4px 40px 0px var(--bs-btn-hover-bg);
}